@import "tailwindcss" source("../");

.animate-spinner-ease-spin {
    animation: spinner-spin .8s ease infinite;
}

.animate-spinner-linear-spin {
    animation: spinner-spin .8s linear infinite;
}

@theme {
  --color-brand: #ff0000;
  --color-primary: #ff0000;
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0.15; }
}

@keyframes spinner-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}